<?xml version="1.0" ?>
<config>
    <modules>
        <YS_Insurance>
            <version>0.0.1</version>
        </YS_Insurance>
    </modules>

    <global>
        <default>
            <sales>
                <totals_sort>
                    <insurance>15</insurance>
                </totals_sort>
            </sales>
        </default>
        <resources>
            <ysinsurance_setup>
                <setup>
                    <module>YS_Insurance</module>
                </setup>
            </ysinsurance_setup>
        </resources>
        <helpers>
            <ysinsurance>
                <class>YS_Insurance_Helper</class>
            </ysinsurance>
        </helpers>
        <models>
            <ys_insurance>
                <class>YS_Insurance_Model</class>
                <resourceModel>ys_insurance</resourceModel>
            </ys_insurance>
            <insurance>
                <class>YS_Insurance_Model</class>
                <resourceModel>yinsurance_resource</resourceModel>
            </insurance>
            <checkout>
                <rewrite>
                    <type_onepage>YS_Insurance_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
        <blocks>
            <ysinsurance>
                <class>YS_Insurance_Block</class>
            </ysinsurance>
            <checkout>
                <rewrite>
                    <onepage>YS_Insurance_Block_Checkout_Onepage</onepage>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order_totals>YS_Insurance_Block_Sales_Order_Totals</order_totals>
                    <order_invoice_totals>YS_Insurance_Block_Sales_Order_Invoice_Totals</order_invoice_totals>
                    <order_creditmemo_totals>YS_Insurance_Block_Sales_Order_Creditmemo_Totals</order_creditmemo_totals>
                </rewrite>
            </sales>
        </blocks>
        <fieldsets>
            <sales_convert_quote>
                <insurance><to_order>*</to_order></insurance>
                <shipping_without_insurance><to_order>*</to_order></shipping_without_insurance>
            </sales_convert_quote>
            <sales_convert_quote_address>
                <insurance><to_order_address>*</to_order_address></insurance>
                <shipping_without_insurance><to_order>*</to_order></shipping_without_insurance>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <insurance><to_quote_address>*</to_quote_address></insurance>
                <shipping_without_insurance><to_order>*</to_order></shipping_without_insurance>
            </sales_convert_order_address>
            <sales_convert_order>
                <insurance><to_quote>*</to_quote></insurance>
                <shipping_without_insurance><to_order>*</to_order></shipping_without_insurance>
            </sales_convert_order>
        </fieldsets>
        <sales>
            <quote>
                <totals>
                    <insurance>
                        <class>ys_insurance/Sales_Quote_Address_Total_Quote</class>
                    </insurance>
                </totals>
            </quote>
            <order_invoice>
                <total>
                    <insurance>
                        <class>ys_insurance/Sales_Order_Invoice_Total_Invoice</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </insurance>
                </total>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <insurance>
                        <class>ys_insurance/Sales_Order_Creditmemo_Total_Creditmemo</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </insurance>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <ys_insurance before="Mage_Checkout">YS_Insurance</ys_insurance>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <ysinsurance_layout>
                    <file>insurance.xml</file>
                </ysinsurance_layout>
            </updates>
        </layout>
    </frontend>
</config>